<poi-form #poiForm></poi-form>
<pois #poisComponent></pois>

<find-route-form (onSubmit)="displayResult($event)"></find-route-form>

<div class="map-container">
    <div class="center-marker"></div>
    <sebm-google-map
        [latitude]="center.lat"
        [longitude]="center.lng"
        [streetViewControl]="false"
        (centerChange)="poiForm.setPosition($event.lat, $event.lng)">
        <map #map></map>
        <sebm-google-map-marker *ngFor="let m of markers"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [draggable]="m.draggable"
            [visible]="m.visible">
        </sebm-google-map-marker>
    </sebm-google-map>
</div>