extends angular-layout

block content
    div.container
        h2= title
    main-app
        div.container
            p Welcome to travel route finding app
            div.progress
                div.indeterminate