extends angular-layout

block content
    h1= title
    p Welcome to #{title}
    main-app Loading...

    script.
        //- var map;
        //- function initMap() {
        //-     var pos = {lat: -34.397, lng: 150.644};
        //-     map = new google.maps.Map(document.getElementById('map'), {
        //-         center: pos,
        //-         zoom: 8
        //-     });
        //-     map.addListener('center_changed', function(e) {
        //-         var lat = document.forms[0].latitude;
        //-         var lng = document.forms[0].longitude;
        //-         lat.value = map.getCenter().lat();
        //-         lng.value = map.getCenter().lng();
        //-         lat.onchange();
        //-         lng.onchange();
        //-     });
        //- }
        //- // press add menu
        //- function showMarkerAtCenter() {
        //-
        //- }
        // change angular lat lng box
        // press save
    // script(src="https://maps.googleapis.com/maps/api/js?key="+api_key async defer)
