<div class="row">
	<div class="input-field col s6">
		<select
			class="browser-default"
			name="origin"
			[ngModel]="origin"
			(ngModelChange)="onChangeOrigin($event)">
		    <option *ngFor="let poi of pois" [ngValue]="poi">{{poi.name}}</option>
		</select>
		<label class="active">Origin</label>
	</div>
	<div class="input-field col s6">
		<select
			class="browser-default"
			name="destination"
			[ngModel]="destination"
			(ngModelChange)="onChangeDestination($event)">
		    <option *ngFor="let poi of pois" [ngValue]="poi">{{poi.name}}</option>
		</select>
		<label class="active">Destination</label>
	</div>
</div>
<button class="waves-effect waves-light btn" (click)="findRoutes()">Find</button>